@charset "utf-8";
*{margin:0;padding:0;}
body{font-family:"Microsoft Yahei";background:#f6f6f6;color:#000;padding:0;margin:0; overflow: hidden}
html{ overflow-x: hidden}
body,div,ol,ul,li,p,a,dl,dt,dd,span,h1,h2,h3,h4,h5,h6,input,button,strong,b,em,i,img{padding:0;margin:0; border: 0;font-family: "Microsoft Yahei"!important;}
table{border-collapse:collapse;border-spacing:0;}
ul,ol,li{list-style:none;font-family: "Microsoft Yahei"}
a{text-decoration:none;font-family: "Microsoft Yahei"}
img{border:0;}
input{outline:none;font-family: "Microsoft Yahei";border: 1px solid #8c8c8c;border-radius: 5px}
span,a,i{ display: inline-block;font-family: "Microsoft Yahei"}
a:focus,area{outline:none;font-family: "Microsoft Yahei"}
.fl{float:left;}
.fr{float:right;}
.clear,.cf{clear:both;zoom:1;overflow:hidden;}
input[type="button"]{cursor: pointer;}
/*字体图标*/
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1472026395'); /* IE9*/
  src: url('iconfont.eot?t=1472026395#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1472026395') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1472026395') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1472026395#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:30px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 10px
}
.icon-shezhi:before { content: "\e600"; }
.icon-wodezhuye:before { content: "\e601"; }
.icon-you:before { content: "\e602"; }
.icon-liuliangtongji:before { content: "\e603"; }
.icon-zhuxiao:before { content: "\e604"; }
.icon-biaoge:before { content: "\e605"; }
.icon-xia:before,.glyphicon:before{ content: "\e606"; }
.icon-huiyuanguanli:before { content: "\e607"; }
.icon-shebeijian:before { content: "\e608"; }
.icon-xitong:before { content: "\e609"; }
.icon-yuedutongji:before { content: "\e60a"; }
.nav .active .iconfont:last-child:before{content: "\e606";color: #fff}
.nav .iconfont:last-child{float: right;width: 20px;overflow: hidden;line-height: 70px;}
.nav .iconfont{font-size: 22px;padding: 0;color: #808080;text-align: center;position: relative;top: 3px}
.nav .active .iconfont{color: #fff;transform:rotate(90deg)}
.nav i{width: 70px;height: 70px;background-color: #f6f6f6;line-height: 70px;}
span.nav-label{position: relative;top: 0px;height: 70px;line-height: 70px;left: 16px}
.navbar-default .nav>li>a:hover i,.nav>li.active>a i{background-color: #65c8d1;color: #fff}
.navbar-default .nav>li>a:hover span{color: #fff}

/*common*/
#side-menu{padding-bottom: 70px;}
.common_top{height: 75px;background-color: #444444;width: 100%;color: #fff;padding: 0 30px}
.common_top p{font-size: 18px;line-height: 75px;}
.common_top li{float: left;}
.sidebar-collapse,.nav ul{background-color: #fff;}
.common_top li span{width: 100%;text-align: center;height: 35px;line-height: 35px;}
.nav li{border-bottom: 2px solid #ccc}
body.fixed-sidebar .navbar-static-side{border-right: 1px solid #cccccc}
/*首页*/
.main{border-top: 4px solid #e7eaec;background-color: #fff;}
.main p{height: 45px;line-height: 45px;padding-left: 20px;font-size: 14px;border-bottom: 1px solid #e7eaec}
.main3 p,.use3_3 p{border-bottom: 1px dashed #e7eaec}
.main1{width: 62.8%;margin-left: 1%;margin-right: 1.6%;}
/*#main1{margin: 25px 10px}
#main2{margin: 25px 50px}
#main4{margin: 25px 30px}*/
.main2{width: 32.3%}
.main3{border: 0;width: 33.7%;margin-left: 1%;margin-top: 30px;background-color: #f6f6f6;}
.main4{margin-top: 30px;margin-left: 2.3%;width: 60.66%}
.index_y{height: 220px;padding: 0 25px;background-color: #fff;}
.index_y:first-child{margin-bottom: 10px}
.index_y p{position: relative;}
.index_y a{position: absolute;right: 10px;font-size: 18px;}
.index_y ul{line-height: 45px;padding-top: 10px;padding-left: 30px}
.index_y li{position: relative;font-size: 14px;}
.index_y li span:last-child{position: absolute;right: 25px}
/*内页3-3*/
.use3_3{width: 24.5%;margin-left: 1%;padding: 0 15px;height: 200px;border: 1px solid #ccc}
.use3_3 ul{padding: 0 30px}
.input3_3 ul{padding: 20px 30px}
.use3_3 li{display: inline-block;width: 48%;height: 45px;line-height: 45px;overflow: hidden; text-overflow:ellipsis; white-space: nowrap;font-size: 14px;}
.input3_3{width: 69.1%;margin-left: 1.5%;border: 1px solid #ccc}
.input3_3 li{display: inline-block;width: 32%;height: 75px;line-height: 75px;font-size: 14px;}
.input3_3 li input{height: 35px;width: calc(100% - 110px);padding: 0 5px;border-radius: 3px}
.input3_3 li span{width: 85px}
.input3_3 li select{display: inline-block;height: 35px;width: calc(100% - 160px)}
.input3_3 input[type="button"]{height: 40px;color: #fff;width: 80px;padding-right: 20px;position: relative;left: calc(100% - 65px);cursor: pointer;}
.table3_3{margin-left: 1%;width: 97%;border: 1px solid #cccccc;margin-top: 20px;background-color: #fff;}
.btn3_3 ul{line-height: 88px;position: relative;}
.btn3_3{height: 88px;padding: 0 20px;border-bottom: 1px solid #eee;}
.btn3_3 li{display: inline-block;margin-right: 20px;position: relative;}
.btn3_3 input{color: #fff;background: url(../img/index3_3.png) no-repeat 11px -111px;width: 80px;height: 38px;line-height: 38px;text-align: center;padding-left: 30px;font-size: 16px;border-radius: 5px;border: 0;cursor: pointer;}
.btn3_3 li input[type="radio"]{position: relative;left: 30px;top: 10px}
.btn3_3 li span{position: relative;left: -20px;top: 0px;width: 50px}
.btn3_3 li:last-child{right: -30px;position: absolute;margin-right: 0px}
.btn3_3 li:nth-last-child(2){right: 30px;position: absolute;}
.btn3_3 .btn7,.btn3_3 .btn8,.btn3_3 .btn9{padding-left: 0;background: #2f4050;}
input.btn7{margin-left: 10px;}
.table3_3 .btn1,.index_btn1{background-color: #41b88c;}
.table3_3 .btn2,.index_btn2{background-color: #f5b473;}
.table3_3 .btn3,.index_btn3{background-color: #d66565;}
.table3_3 .btn4,.index_btn4{background-color: #d96ce6;}
.table3_3 .btn5,.index_btn5{background-color: #c9c15f;}
.table3_3 .btn6,.index_btn6{background-color: #66b8d9;}
.lan3_3{padding: 20px 20px;}
.lan3_3 .btn1,.lan3_3 .btn2,.lan3_3 .btn3,.lan3_3 .btn4,.lan3_3 .btn5,.lan3_3 .btn6{width: 160px;height: 160px;margin:0 2px 10px 6px;}
.lan3_3 li{display: inline-block;font-size: 12px;text-align: center;}
.lan3_3 span{height: 70px;line-height: 70px;width: 100%}
.lan3_3 li li{width: 48%;height: 38px;line-height: 38px;}
/*几个图标*/
.content-tabs .roll-left,.roll-right.J_tabRight,.page-tabs a i{background: url(../img/index3_3.png) no-repeat 0 0 #fff;}
.content-tabs .roll-left,.content-tabs .roll-left:hover{background-position: 14px 14px;}
.roll-right.J_tabRight{background-position: 14px -17px;}
.page-tabs a i{background-position: 0 -57px;width: 15px;height: 15px;position: relative;top: 3px;left: 5px}
.input3_3 input[type="button"]{background: url(../img/index3_3.png) no-repeat 51px -76px #2f4050;}
.disN{display: none;}
.open_door p{width: 40%;height: 110px;line-height: 110px;text-align: center;color: #494949;border-right: 1px solid #bbe5d6;font-size: 18px}
.open_door p{width: 690px;height: 50px;border-radius: 10px;line-height: 50px;text-align: left;padding: 0 10px 0 30px;cursor: default;background: url(../img/shu.png) no-repeat 19px 17px;}
.open_door ul{border-top: 1px solid #ccc;padding: 10px 5px;cursor: default;}
.open_door li{display: inline-block;font-size: 16px;margin: 5px;border-radius: 0;width: 54px;height: 54px;text-align: center;border-radius: 10px;cursor: pointer;position: relative;border: 3px solid #61cfa5}
.open_door li span{width: 100%;height: 30px;line-height: 30px;}
.open_door{position: fixed;top: calc(50% - 200px);z-index: 1;font-size: 0;width: 710px;background-color: #fff;border-radius: 10px;border: 1px solid #cccccc;left: calc(50% - 355px);box-shadow: 0 0 10px #000;}
.open_door .active_border{border: 3px solid #29313e;}
.open_door p span{width: 22px;height: 22px;position: absolute;right: 20px;top: 15px;background: url(../img/index_close.png) no-repeat 0 0;cursor: pointer;}
.open_door li li{display: block;line-height: 30px;height: 30px;width: 125px;text-align: left;border: 0!important;padding-left: 35px;border-bottom: 1px solid #eee!important;margin: 0;border-radius: 0;font-size: 14px;}
.open_door li li:hover{background: url(../img/shu.png) no-repeat 19px 7px;}
.open_door li li:last-child{border: 0!important}
.open_door li ul{position: absolute;border: 1px solid #ccc;border-radius: 10px;text-align: left;width: 155px;padding-left: 0px;background-color:rgba(256,256,256,1);color: #494949;top: 60px}
.main3_3{overflow: auto;}
.map_table{position: absolute;top: 0;height: 680px;border: 0px solid #ccc;border-radius: 10px;overflow: auto;right: 0;width: 480px}
.map_table table{color: #494949;width: 480px;height: 100%;line-height: 35px;text-align: center;overflow: auto;background-color: #fff;position: relative;}
.map_table thead{font-size: 18px;height: 48px;line-height: 48px;border-bottom: 1px solid #cccccc;background-color: #324e75;color: #fff}
.map_table tbody td{font-size:  12px;border-right: 1px solid #cccccc}
.map_table th{border-right: 1px solid #cccccc;font-size: 16px}
.map_table tbody tr:nth-child(even){background-color: #eeeeee;}
.map_table tbody tr:hover{background-color: #acb6c5;color: #fff}
.map_table tbody tr:first-child:hover{background-color: #fff;color: #494949}
.map3_3 .open{position: absolute;right: 480px;width: 35px;height: 87px;line-height: 87px; background-color: #f6a554;top: calc(50% - 44px);font-size: 20px;color: #fff;text-align: center;}
.map3_3{position: relative;}
/*2-1页面*/
.content2_1{margin: 0 30px;min-height: 500px;border: 1px solid #ccc;background-color: #fff;font-size: 14px;}
.shu{padding: 0 35px 0 30px;background: url(../img/shu.png) no-repeat 11px 24px;color: #313131}
.tab2_1{height: 62px;line-height: 62px;border-bottom: 1px solid #eee}
.tab2_1 a{width: 122px;height: 33px;line-height: 33px;color: #313131;background-color: #f3f3f3;text-align: center;margin-right: 35px;}
.tab2_1 a:hover,.tab2_1 .active{background-color: #324e75;color: #fff}
.container_y{width: 790px;border-radius: 10px;line-height: 100px;position: relative;margin: 0 auto}
.container_y1{line-height: 30px;padding: 30px 0;text-align: center;}
.container_y1 img{margin-bottom: 10px;}
.container_y1 p{font-size: 14px;color: #232121;margin-top: 10px;}
.container_y1 input{width: 80px;height: 40px;background-color: #324e75;color: #fff;margin-top: 35px;font-size: 14px;border-radius: 5px;line-height: 40px;}
.container_y2 li{width: 380px;display: inline-block;}
.container_y2 input{width: 220px;height: 35px;line-height: 35px;padding: 0 10px}
.container_y2 select{height: 35px}
.container_y2 span{width: 60px}
.container_y2 .search{width: 80px;height: 38px;background-color: #324e75;color: #fff;position: absolute;top: 170px;right: 30px}
.nav-second-level .borbot{border-bottom: 1px solid #ccc!important;padding-bottom: 15px;}
.nav-second-level .bortop{padding-top: 15px;}
/*2-2页面*/
.input2_2{width: 97%;padding-bottom: 0px;border-bottom: 0}
.input2_2 li{width: 24%}
.input2_2 .time{width: 48%}
.input2_2 li input{width: calc(100% - 110px)}
.input2_2 li select{width: calc(100% - 100px)}
.time p{border: 0;padding: 0;display: inline-block;width: 50%}
.time p label{padding-right: 15px;}
.input2_2 .main_btn{width: 26%;text-align: right;}
.main_btn input[type="button"]{width: 80px;height: 38px;background: #324e75;color: #fff;padding: 0;left: 0;margin: 0 1.5%}
.calendar{background: url(../img/time.png) no-repeat 95% 5px!important;}
.jqGrid_wrapper{width: 97%;margin-left: 1.5%;margin-top: 20px;background-color: #fff;border: 1px solid #ccc}
.ui-jqgrid-titlebar{display: none;}
.ui-jqgrid{}
.ui-jqgrid-pager{position: relative;margin-top: 30px;left: calc(50% - 172px)}
.ui-pg-button span{width: 10px;height: 10px}
.jqgrow:nth-child(even){background-color: #f6f6f6;}
.jqgrow td{padding: 8px 0}
/*3-2页面*/
.ul2_1{height: 75px;line-height: 75px;border-bottom: 2px solid #eee}
.ul2_1 a{padding: 0 25px;height: 75px;color: #3d3d3d}
.ul2_1 .active,.ul2_1 a:hover{border-bottom: 2px solid #324e75}
.open2_1{width: 58.5%;margin: 20px auto;border: 1px solid #ccc;border-radius: 5px}
.steps{font-size: 0;}
.steps li{display: inline-block;font-size: 14px;color: #464343;text-align: center;position: relative;width: 25%;border-bottom: 10px solid #ccc}
.steps li span{width: 100%;height: 110px;line-height: 110px;}
.steps .num{font-size: 24px;color: #464343;width: 38px;height: 38px;line-height: 38px;position: absolute;left: calc(50% - 19px);bottom: -24px;background-color: #ccc;border-radius: 19px}
.steps .active{border-bottom: 10px solid #f6a554;}
.steps .active span{color: #f6a554}
.steps .active .num{color: #fff;background-color: #f6a554;}
.btn2_1{margin: 115px 25px 55px;text-align: right;}
.btn2_1 input{width: 80px;height: 40px;line-height: 40px;color: #fff;background-color: #97a4b7;cursor: pointer;margin-right: 40px;font-size: 14px;}
.btn2_1 input:hover{background-color: #324e75;}



















