@charset "utf-8";
*{margin:0;padding:0;}
body{font-family:"Microsoft Yahei";background:#fff;color:#535353;padding:0;margin:0; overflow: hidden;font-size: 14px;}
html{ overflow-x: hidden;background-color: #fff;}
body,div,ol,ul,li,p,a,dl,dt,dd,span,h1,h2,h3,h4,h5,h6,input,button,strong,b,em,i,img{padding:0;margin:0; border: 0;font-family: "Microsoft Yahei"!important;}
table{border-collapse:collapse;border-spacing:0;}
ul,ol,li{list-style:none;font-family: "Microsoft Yahei"}
a{text-decoration:none;font-family: "Microsoft Yahei"}
img{border:0;}
input{outline:none;font-family: "Microsoft Yahei";border: 1px solid #8c8c8c;border-radius: 2px}
span,a,i{ display: inline-block;font-family: "Microsoft Yahei"}
a:focus,area{outline:none;font-family: "Microsoft Yahei"}
.fl{float:left;}
.fr{float:right;}
.clear,.cf{clear:both;zoom:1;overflow:hidden;}
.over_vis{overflow: visible;}
input[type="button"]{cursor: pointer;border-radius: 2px;border: 0}
.dib{display: inline-block;}
.nav .iconfont,.nav .iconfont:last-child{font-size: 22px;padding: 0;color: #c6e2ff;text-align: center;position: relative;top: 3px;width: 22px}
.nav .iconfont:last-child{float: right;width: 20px;overflow: hidden;line-height: 20px;height: 20px;margin-top: 15px;right: 15%;font-size: 14px;}
.nav .active .icon2{color: #fff;transform:rotate(90deg);background-color: #fff;}
span.nav-label{position: relative;top: 0px;height:55px;line-height: 55px;left: 16px}
.max1260{max-width: 1260px}
.max900{max-width: 900px}
.disN{display: none;}
button{cursor: pointer;border-radius: 2px}
/*图标字体*/
@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:26px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
/*common*/
#side-menu{padding-bottom: 75px;}
.common_top{height: 80px;background: url(../img/header_bg.jpg) no-repeat 0 0;width: calc(100%);color: #fff;padding: 0 25px}
.common_top p img{position: relative;top: 0px;margin-right: 20px;}


/*common*/
#side-menu{padding-bottom: 75px;}
.common_top{height: 75px;background-color: #444444;width: 100%;color: #fff;padding: 0 30px}
.common_top p{font-size: 18px;line-height: 75px;}
.common_top li{float: left;cursor: pointer;}
.common_top .iconfont{margin-top: 5px;}
.common_top li:last-child .iconfont{font-size: 24px;}
.sidebar-collapse,.nav ul{background-color: #213240;height: 100%}
.common_top li span{width: 100%;text-align: center;height: 35px;line-height: 35px;}
.nav li{border-bottom: 1px solid #213240}
.content-tabs{display: none}
.nav .active span:last-child{transform: rotate(90deg);}
.main{padding: 20px 35px}
/*面包屑*/
.main header,.index_main header{margin-bottom: 20px;}
.main header li,.index_main header li{float: left;text-align: center;height: 40px;line-height: 40px;margin-right: 10px; padding: 0 0px 0 20px;background: url(../img/xuebi_y.png) no-repeat -87px -90px;}
.main header span,.index_main header span{height: 40px;line-height: 40px;color: #535353;background-color: #e8e8e8;}
.main header li:first-child,.index_main header li:first-child{text-align: center;background: none;padding-left: 0;}
.center{padding: 0 20px}
/*2-1*/
/*待审核*/
.tab1_2{margin: 0px 0 20px 0;text-align: left;}
.tab1_2 li{width: 160px;height: 36px;line-height: 36px;text-align: center;float: left;background-color: #f0f0f0;color: #535353;font-size: 16px;margin-right: 1px;cursor: pointer;}
.tab1_2 li:hover,.tab1_2 .tab_active{background-color: #1a2734;color: #fff}
.tab1_2 .add{background:url(../img/xuebi_y.png) no-repeat 12px 7px;margin-left: 30px;color: #535353}
.tab1_2 .add:hover{background:url(../img/xuebi_y.png) no-repeat 12px 7px;color: #535353}
/*输入框部分*/
.all_input{border: 1px solid #b9b9b9;position: relative;padding: 0}
.all_input .head_p{border-left: 0px solid #293d51;color: #313131;padding-left: 10px;height: 40px;line-height: 40px;background-color: #eee;position: relative;}
.all_input ul{width: 61.5%;padding: 5px 0}
.all_input li{float: left;width: calc(49% - 20px);height: 55px;line-height: 55px;text-align: left;padding-left: 20px;}
.all_input .time{width: calc(96% - 20px)}
.time p{border: 0;padding: 0;display: inline-block;width: 100%}
.time p label{padding-right: 15px;text-align: right;padding-right: 0;padding-left: 15px;}
.time p:last-child{text-align: left;}
.all_input li label{width: 100%}
.all_input li input{width: calc(100% - 160.578px);height: 28px;padding: 0 5px}
.all_input .choice{height: 50px;line-height: 80px;top: -7px;left: 0px;position: relative;}
.all_input li span{width: 107px;text-align: right;}
.all_input li label:first-child{width: 120px}
.all_input .time input{width: calc(50% - 170.578px)}
.choice,.find{}
.all_input .find{bottom: 16px;left: 80%;position: absolute;}
.all_input .find button{width: 82px;line-height: 32px;height: 32px;color: #fff;background-color: #00ccab;margin-right: 20px;font-size: 14px;margin-top: 20px;}
.all_input .find .search1{background: url(../img/xuebi_y.png) no-repeat 54px -51px #00ccab;width: 82px;padding-right: 10px;border: 1px solid #00ccab}
.all_input .find .search3{margin-left:106px;}
/*表格*/
.table1_2{margin-top: 20px;}
.table1_2 table{width: 100%;text-align: center;font-size: 12px;color: #535353;border: 1px solid #b9b9b9}
.table1_2 thead{border: 1px solid #b9b9b9;background-color: #f6f6f6;text-align: left;}
.table1_2 thead span{border-left: 0px solid #293d51;color: #313131;padding-left: 3px;height: 38px;line-height: 38px;}
.table1_2 th{color: #000;height: 30px}
.table1_2 td{height: 30px;position: relative;z-index: 1}
.table1_2 tr:nth-child(odd){background-color: #eee;}
.action span{width: 100px;height: 22px;border: 0px solid #00ccab;cursor: pointer;line-height: 22px;margin: 0 10px;color: #00ccab}
.action span:hover,.action .operate{border: 1px solid #00ccab;background: url(../img/xuebi_y.png) no-repeat 64px -247px #fff;width: 98px}
.delete span:hover{border: 0;background: none;width: 90px}
.action .operate,.action .operate:hover{background-position: 64px -219px}

.action{width: 90px}
.action ul{position: absolute;border: 1px solid #00ccab;left: 10px;width: 98px;background-color: #fff;border-top: 0}
.action ul li{cursor: pointer;height: 38px;line-height: 38px;}
.action ul li:hover{background-color: #00ccab;color: #fff}
.pages{width: calc(100% - 20px);text-align: right;}
.pages li{display: inline-block;margin: 10px 5px;color: #a2a2a2;font-size: 12px;}
.pages input{width: 26px;height: 16px;margin: -1px 5px 0;text-align: center;color: #979797;font-size: 12px;}
.pages li a{color: #fff;background-color: #00ccab;padding: 0 4px;border: 1px solid #b9b9b9}
.pages li .active1{border: 0;padding: 2px 4px;border-radius: 2px}
.pages .change a{color: #979797;background-color: #f9f9f9;padding: 1px 5px;border: 1px solid #b9b9b9;border-radius: 2px}
.pages li .pre_page,.pages li .next_page{background: url(../img/xuebi_y.png) no-repeat 0px -103px;width: 18px;height: 20px;padding: 0;position: relative;top: 5px;border: 0;border-radius: 2px}
.pages .pre_page.active{background-position: -48px -104px;}
.pages li .next_page{background-position: -48px -104px;}
.pages .next_page.active{background-position: 0 -154px;}
.pages .change .active{background-color: #00ccab;color: #fff;border: 0;height: 18px;line-height: 18px;padding: 1px 6px}
/*表格*/
/*待审核*/
/*缴费记录*/
.all_input .head_p span{position: absolute;right: 20px;height: 40px;line-height: 40px;padding-left: 30px;background: url(../img/xuebi_y.png) no-repeat -37px -46px;cursor: pointer;color: #00ccab}
.add_th1{background: url(../img/xuebi_y.png) no-repeat -37px -54px;height: 22px;width: 30px}
.table1_2 thead .add_th2{color: #00ccab}
/*缴费记录*/
.all_input .find .search2{background-color: #f6f6f6;color: #535353;border: 1px solid #dcdcdc}
.induce thead{text-align: right;border: 0;}
.induce thead td{height: 43px}
.induce thead tr:nth-child(odd){background-color: #dedede;}
.induce thead span{margin-right: 20px;border: 0}
.induce thead div{border-left: 0px solid #293d51;height: 43px}
.induce thead p{display: inline-block;cursor: pointer;}
.induce thead div i{position: relative;top: 8px}
.induce thead div span{position: relative;top: 3px}
.induce thead h3 span{top: 3px}
.induce thead h3 {text-align: left;font-weight: normal;float: left;}
.tab_checkbox input{opacity: 0}
.tab_checkbox span{width: 18px;height: 18px;background: url(../img/xuebi_y.png) no-repeat 0px -198px;position: relative;top: 3px}
.tab_checkbox .checkbox_active{background: url(../img/xuebi_y.png) no-repeat -47px -199px;}
.induce .top0{top: 4px}
.all_input .lie2{left: 65%;width: 220px}
/*新建申请*/
.creat{width: 100%;margin-bottom: 30px;}
.creat p{width: 100%;border-left: 3px solid #ff503f;padding-left: 10px;margin-bottom: 10px;height: 28px;line-height: 28px;}
.creat ul{border: 1px solid #eaeaea;float: left;padding: 10px 0;width: 99.5%}
.creat li{float: left;width: 38%;height: 55px ;line-height: 55px;padding-right: 11%;text-align: right;}
.creat li label{position: relative;}
.creat li span{text-align: right;}
.creat li input[type="text"]{width: 170px;height: 28px}
.creat li input[type="button"]{position: absolute;right: -75px;width: 60px;height: 30px;color: #fff;background-color: #00ccab;top: -5px}
.creat li:nth-child(odd){text-align: right;padding-right: 15%;width: 34.5%;}
.creat .upload{border: 1px solid #eaeaea;width: 896px;border-top: 0;padding: 0;padding-top: 0;}
.creat .time p{border-left: 0;margin-bottom: 0;padding-left: 0;text-align: right;}
.creat .time input[type="text"]{width: 100px}
.creat .time{padding-right: 0%;width: 47.5%}
.creat .sel1_2{width: 160px;padding: 0;float:none;display: inline-block;border:1px solid #8c8c8c;height: 28px;line-height: 28px;text-align: left;padding-left: 10px;background: url(../img/xuebi_y.png) no-repeat 147px -218px;cursor: pointer;}
.creat .sel_ul{width: 170px;position: absolute;left: 74px;top: 25px;padding: 0;border: 1px solid #8c8c8c;border-top: 0;padding-left: 0px;background-color: #fff;}
.approve .sel_ul{left: 46px}
.creat .sel_ul li{height: 28px;line-height: 28px;float: none;width: 160px;padding: 0;text-align: left;padding-left: 10px;position: relative;}
.z-in3{z-index: 3;position: relative;}
.sel_ul ul{position: absolute;left: 170px;border: 1px solid #8c8c8c;padding: 0;width: 100px;top: -1px;background-color: #fff;}
.creat .sel_ul li li{width: 90px}
.sel_ul li:hover{color: #00ccab;background-color: #f9f9f9;}
.sel_ul li:hover li{color: #000}
.sel_ul li li:hover{color: #00ccab}
.save1_2{margin-top: 175px;margin-bottom: 20px;text-align: center;}
.save1_2 input{width: 82px;height: 40px;color: #fff;background-color: #00ccab;margin: 0 19px}
.save1_2 .back{background-color: #fff;color: #535353;border: 1px solid #bebebe}
.approve{margin-bottom: 190px;}
.approve .z-in3{background: url(../img/xuebi_y.png) no-repeat 325px -283px;margin-top: 40px;}
.approve .textarea1_2{margin-top: -17px;width: 48%;padding-right: 1%;}
.textarea1_2 textarea{width: 66%;position: relative;top: 40px}
.test_tab{position: fixed;left: 150px;top: 150px;background-color: #fff;box-shadow: 0 0 15px #000;z-index: 4;border: 1px solid #7b7773}
.test_tab p{height: 42px;background-color: #f6f7fb;position: relative;padding-left: 20px;line-height: 42px;}
.test_tab ul{line-height: 55px;}
.test_tab li{float: left;padding-left: 46px;}
.test_tab p a{position: absolute;height: 40px;width: 40px;background: url(../img/xuebi_y.png) no-repeat -34px -217px;right: 20px}
.test_tab p .sure{position: absolute;right: 20px;width: 60px;height: 28px;background-color: #fff;border: 1px solid #d2d2d2;top: 8px}

.all_input .choice select{height: 30px;padding-right: 15px;}
/*2-3的结构*/
.all_input33 ul{width: 30.75%}
.all_input33 li{width: calc(100% - 20px)}
.all_input33 .find{left: 50%}
.file_edit{display: none;}
/*3-1的结构*/
.all_input31 .find{left: 61%}
.max800{width: 800px;border: 1px solid #dcdcdc;margin-bottom: 0;padding-bottom: 100px;}
.max800 p,.max800_p{padding-left: 10px;height: 33px;line-height: 33px;background-color: #e7e7e7;}
.max800 ul{width: 500px;}
.max800 li{height: 55px;line-height: 55px;}
.max800 li span{width: 100px;text-align: right;position: relative;}
.max800 li input{width: 225px;height: 23px;border-radius: 2px;padding-left: 5px;}
.max800 li select{width: 146px;height: 25px;border-radius: 2px}
.max800 li textarea{width: 230px;border-radius: 2px;border-color: #8c8c8c}
.max800 .z-in3,.max900_1 .z-in3{margin-top: 0;background-position: 345px -284px;width: 400px}
.max800 .z-in3_short{background-position: 265px -284px;width: 300px}
.max800 li .file_del{width: 14px;display: inline-block;right: -18px}
/*4-1黑名单*/
.all_input31 .choice{margin-left: 20px;}
.all_input31.all_input33 .find{left: 72%}
.iconfont1{width: 26px;height: 24px;background: url(../img/xuebi_y.png) no-repeat 0px -342px;}
.max628{width: 628px}
/*9-1*/
.max800 li label{margin-right: 10px;}
.max800 li input[type="checkbox"],.max800 li input[type="radio"]{width: auto;margin-right: 5px;position: relative;top: 4px}
.max800 label span{width: auto}
.max628 li select{width: 230px;margin-left: -3px;}
/*8-1*/
.notice li{height: 80px;line-height: 80px;position: relative;border: 1px solid #ddd}
.notice li:first-child{border-top-right-radius: 2px;border-top-left-radius: 2px}
.notice li:last-child{border-bottom-right-radius: 2px;border-bottom-left-radius: 2px}
.notice li img{width: 55px;height: 55px;margin-left: 20px;margin-right: 5px;display: inline-block;position: relative;;top: 12.5px}
.notice li p{display: inline-block;position: relative;top: -10px;cursor: pointer;height: 30px;line-height: 30px;}
.notice li span{position: absolute;right: 35px;top: 0px;padding-right: 20px;font-size: 12px;color: #8da5b6}
.notice li p:hover{text-decoration: underline;}
article{padding: 0 60px 0 20px;border: 1px solid #ddd;margin-bottom: 20px;}
article h2{height: 42px;line-height: 42px;font-weight: 500;font-size: 14px;}
article .article_all p{line-height: 28px;text-indent: 2em;}
.mark{border-top: 1px solid #eaeaea;color: #878787;width: 100%;padding: 10px 0;font-size: 12px;}
.creat li select{width: 170px;height: 30px}
.max900_1 .z-in3,.max900_1 .creat li{width: 34.5%;padding-right: 15%;}
.max900_1 .creat .address{width: 425px;background-position: 450px -283px;}
.max900_1 .address input[type="text"]{width: 285px}
.max800_p{width: 888px;}
/*右下角弹窗*/
.frame_win{width: 255px;height: 155px;border: 1px solid #73b2ff;padding: 1px;position: fixed;bottom: 10px;right: 10px;border-radius: 2px;background-color: #fff;}
.win_p{width: 100%;background-color: #73b2ff;color: #fff;height: 35px;line-height: 35px;text-align: center;position: relative;}
.win_p a{position: absolute;right: 0px;top: 0px;width: 35px;height: 35px;background: url(../img/xuebi_y.png) no-repeat 7px -369px;}
.frame_win ul{padding: 5px 0}
.frame_win li{cursor: pointer;color: #73b2ff;height: 28px;line-height: 28px;text-align: center;}
.frame_win li:hover{text-decoration: underline;}
.max1260_2 .time .demo-content{margin-top: 13px;}
/*2-1查看*/
.wid_look{width: 898px;border: 1px solid #b9b9b9}
.wid_look tbody{width: 896px}
.wid_look tr{border-bottom: 1px solid #dcdcdc;}
.wid_look tr:last-child{border: 0}
.wid_look td{height: 40px;padding-left: 10px;}
.wid_look .wid155{width: 145px;background-color: #f6f6f6;text-align: right;border-right: 1px solid #dcdcdc}
/*设置*/
#page-wrapper{position: relative;}
.index_main{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: #fff;padding: 20px 35px}
.index_main .max800{padding-bottom: 0;}
.index_main .max800 input{line-height: 23px;}
.index_main .max800 ul{padding: 10px 0;}
























