@charset "utf-8";
*{margin:0;padding:0;}
body{font-family:"Microsoft Yahei";background:#fff;color:#000;padding:0;margin:0; overflow: hidden}
html{ overflow-x: hidden;background-color: #fff;}
body,div,ol,ul,li,p,a,dl,dt,dd,span,h1,h2,h3,h4,h5,h6,input,button,strong,b,em,i,img{padding:0;margin:0; border: 0;font-family: "Microsoft Yahei"!important;}
table{border-collapse:collapse;border-spacing:0;}
ul,ol,li{list-style:none;font-family: "Microsoft Yahei"}
a{text-decoration:none;font-family: "Microsoft Yahei"}
img{border:0;}
input{outline:none;font-family: "Microsoft Yahei";border: 1px solid #8c8c8c;border-radius: 2px}
span,a,i{ display: inline-block;font-family: "Microsoft Yahei"}
a:focus,area{outline:none;font-family: "Microsoft Yahei"}
.fl{float:left;}
.fr{float:right;}
.clear,.cf{clear:both;zoom:1;overflow:hidden;}
input[type="button"]{cursor: pointer;border-radius: 2px}
.dib{display: inline-block;position: relative;}
.nav .iconfont,.nav .iconfont:last-child{font-size: 22px;padding: 0;color: #c6e2ff;text-align: center;position: relative;top: 3px}
.nav .iconfont:last-child{float: right;width: 20px;overflow: hidden;line-height: 20px;height: 20px;margin-top: 15px;right: 15%;font-size: 14px;}
.nav .active .icon2{color: #fff;transform:rotate(90deg);background-color: #fff;}
span.nav-label{position: relative;top: 0px;height:55px;line-height: 55px;left: 16px}
.max1260{max-width: 1260px}
.disN{display: none;}
button{cursor: pointer;}
/*图标字体*/
@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:32px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
/*common*/
#side-menu{padding-bottom: 75px;}
.common_top{height: 80px;background: url(../img/header_bg.jpg) no-repeat 0 0;width: calc(100%);color: #fff;padding: 0 25px}
.common_top p img{position: relative;top: 0px;margin-right: 20px;}


/*common*/
#side-menu{padding-bottom: 75px;}
.common_top{height: 75px;background-color: #444444;width: 100%;color: #fff;padding: 0 30px}
.common_top p{font-size: 18px;line-height: 75px;}
.common_top li{float: left;cursor: pointer;}
.common_top .iconfont{margin-top: 5px;}
.common_top li:last-child .iconfont{font-size: 30px;}
.sidebar-collapse,.nav ul{background-color: #213240;height: 100%}
.common_top li span{width: 100%;text-align: center;height: 35px;line-height: 35px;}
.nav li{border-bottom: 1px solid #213240}
.content-tabs{display: none}
.nav .active span:last-child{transform: rotate(90deg);}
.main{padding: 35px}
/*面包屑*/
.main header li{float: left;text-align: center;height: 40px;line-height: 40px;margin-right: 10px; }
.main header span{height: 40px;line-height: 40px;color: #535353;background-color: #e8e8e8;}
.main header .left{background: url(../img/bread.png) no-repeat 5px -70px;width: 20px;height: 40px}
.main header .right{background: url(../img/bread.png) no-repeat 0px 0;width: 20px;height: 40px;font-size: 16px;}
.main header li:first-child{width: 80px;text-align: center;}
.main header li:first-child .right{font-size: 26px;}
.center{padding: 0 20px}
/*2-1*/
/*待审核*/
.tab1_2{margin: 35px 0;text-align: left;}
.tab1_2 li{width: 160px;height: 36px;line-height: 36px;text-align: center;float: left;background-color: #f0f0f0;color: #535353;font-size: 16px;margin-right: 1px;cursor: pointer;}
.tab1_2 li:hover{background-color: #1a2734;color: #fff}
.tab1_2 .add{background:url(../img/xuebi_y.png) no-repeat 12px 7px;margin-left: 30px;}
.tab1_2 .add:hover{background:url(../img/xuebi_y.png) no-repeat 12px 7px;color: #535353}
/*输入框部分*/
.all_input{border: 1px solid #b9b9b9;position: relative;padding: 10px 0}
.all_input .head_p{border-left: 3px solid #293d51;color: #313131;padding-left: 10px;height: 40px;line-height: 40px;background-color: #f9f9f9;position: relative;}
.all_input ul{width: 65.5%;}
.all_input li{float: left;width: 49%;height: 80px;line-height: 80px;text-align: right;}
.all_input .time{width: 96%}
.time p{border: 0;padding: 0;display: inline-block;width: 50%}
.time p label{padding-right: 15px;text-align: right;padding-right: 0;padding-left: 15px;}
.time p:last-child{text-align: left;}
.all_input li label{width: 100%}
.all_input li input{width: calc(100% - 130px);height: 28px;padding: 0 5px}
.all_input .choice{height: 50px;line-height: 80px;top: -35px;left: 20px}
.all_input .find{bottom: 36px;left: 60px;}
.all_input .find button{width: 82px;line-height: 38px;height: 38px;color: #fff;background-color: #00ccab;margin-right: 20px;font-size: 14px;}
.all_input .find .search1{background: url(../img/xuebi_y.png) no-repeat 47px -47px #00ccab;width: 72px;padding-right: 10px;border: 1px solid #00ccab}
/*表格*/
.table1_2{margin-top: 48px;}
.table1_2 table{width: 100%;text-align: center;font-size: 12px;color: #535353}
.table1_2 thead{border: 1px solid #b9b9b9;background-color: #f6f6f6;text-align: left;}
.table1_2 thead span{border-left: 3px solid #293d51;color: #313131;padding-left: 10px;height: 38px;line-height: 38px;}
.table1_2 th{color: #000;height: 30px}
.table1_2 td{height: 30px;position: relative;z-index: 1}
.table1_2 tr:nth-child(odd){background-color: #f6f6f6;}
.action span{width: 64px;height: 22px;background-color: #f6f6f6;border: 1px solid #bfbfbf;cursor: pointer;line-height: 22px;}
.action{width: 90px}
.action ul{position: absolute;border: 1px solid #bfbfbf;left: 12px;width: 64px;background-color: #fff;}
.action ul li{cursor: pointer;}
.action ul li:hover{background-color: #f9f9f9;color: #00ccab}
.pages{width: calc(100% - 20px);text-align: right;}
.pages li{display: inline-block;margin: 10px 5px;color: #a2a2a2;font-size: 16px;}
.pages input{width: 30px;height: 24px;margin: -1px 5px 0;text-align: center;color: #979797;font-size: 16px;}
.pages li a{color: #a2a2a2;background-color: #00ccab;padding: 0 4px;border: 1px solid #b9b9b9}
.pages .change a{color: #979797;background-color: #f9f9f9;padding: 1px 7px;border: 1px solid #b9b9b9;border-radius: 2px}
.pages li .pre_page,.pages li .next_page{background: url(../img/xuebi_y.png) no-repeat 0px -104px;width: 23px;height: 23px;padding: 0;position: relative;top: 6px}
.pages .pre_page.active{background-position: -48px -104px;}
.pages li .next_page{background-position: -48px -104px;}
.pages .next_page.active{background-position: 0 -155px;}
.pages .change .active{background-color: #00ccab;color: #fff}
/*表格*/
/*待审核*/
/*缴费记录*/
.all_input .head_p span{position: absolute;right: 15px;height: 40px;line-height: 40px;padding-left: 30px;background: url(../img/xuebi_y.png) no-repeat -45px -45px;cursor: pointer;}
/*缴费记录*/
.all_input .find .search2{background-color: #f6f6f6;color: #535353;border: 1px solid #dcdcdc}
.induce thead{text-align: right;border: 0}
.induce thead tr:nth-child(odd){background-color: #dedede;}
.induce thead span{margin-right: 20px;border: 0}
.induce thead p{border-left: 3px solid #293d51;cursor: pointer;}
.induce thead p i{position: relative;top: 5px}
.induce thead p span{position: relative;top: -2px}
.tab_checkbox input{opacity: 0}
.tab_checkbox span{width: 18px;height: 18px;background: url(../img/xuebi_y.png) no-repeat 0px -198px;position: relative;top: 3px}
.tab_checkbox .checkbox_active{background: url(../img/xuebi_y.png) no-repeat -47px -199px;}





